body{
	background: whitesmoke;
	color: rgb(40,40,40);
	font-family: helvetica;
	font-size: 17px;
	font-weight: lighter;
	width: 700px;
	margin: 30px auto;
}
h1,h2,h3{
	font-family: Helvetica;
}
h1{
	color:#FFB8DE;
	font-size: 32px;
	font-weight: bold;
}
h2{
	color:#5C4742;
	font-size: 24px;
	font-weight: normal;
}
a{
	text-decoration: none;
	color:rgb(30,30,30);
	font-weight: lighter;
}
a:hover {
	color: #80A1D4;
}

.container {
	width: 700px;
	margin: 40px auto;
	border-radius: 4px;
}

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 10px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: lightpink;
	color: ghostwhite;
	padding: 10px 10px;
	border-radius: 4px;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: darkgray;
}
#introduction p {
	margin-botton: 40px;
}